<div class="pageTitle">
  <h1>New <%= @employee.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @employee.object %>"/>
    <ul>
      
          <li>
            <label for="employee[name]" class="fieldLabel">Name</label>
            <input type="text" name="employee[name]" <%=
            placeholder("Name") %> />
          </li>
      
          <li>
            <label for="employee[company]" class="fieldLabel">Company</label>
            <input type="text" name="employee[company]" <%=
            placeholder("Company") %> />
          </li>
      
          <li>
            <label for="employee[phno]" class="fieldLabel">Phno</label>
            <input type="text" name="employee[phno]" <%=
            placeholder("Phno") %> />
          </li>
      
          <li>
            <label for="employee[address]" class="fieldLabel">Address</label>
            <input type="text" name="employee[address]" <%=
            placeholder("Address") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>