<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Company:</b>
  <%= @employee.company %>
</p>

<p>
  <b>Phno:</b>
  <%= @employee.phno %>
</p>

<p>
  <b>Address:</b>
  <%= @employee.address %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
